html {
    background-color: #09090f;
    color: #ffeeee;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.layout {
    display:flex;
    flex-direction: row;
}

a {
    color: #ffeeee;
}

.navigation {
    width: 30%;
    height: 100%;
}

.navigation > iframe {
    border: none;
    height: 100%;
}

.nav-blob {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-size: 2em;
    background-color: #1b1b2d;
    clip-path: inset(3% round 5%);
}

.role {
    font-size: 0.5em;
}

.nav-blob > p {
    margin-left: 3%;
    margin-right: 3%;
}

.navigation > h1 {
    font-weight: 400;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
}

.blob {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    font-size: 2em;
    aspect-ratio: 1.3;
    clip-path: inset(7% round 15%);
    transition: clip-path 0.3s;
}

.blob-overlay {
    width: 100%;
	position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.blob-overlay > .title-tag {
    background-color: rgba(0,0,0, 0.7);
    text-align: center;
    overflow: visible;
}

.blob-overlay > .title-tag > p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5%;
    margin-right: 5%;
}

.blob:hover {
    background-color: black;
    clip-path: inset(1% round 2%);
    transition: clip-path 0.3s;
}

.blob:hover > .blob-overlay {
    background-color: rgba(0,0,0, 0.7);
    transition: background-color 0.3s;
}

.blob > .blob-overlay {
    background-color: rgba(0,0,0,0);
    transition: background-color 1s;
}

.blob > img {
    height: 100%;
    width: auto;
}

.blob > video {
    height: 100%;
    width: auto;
}

/* playdate coloring */
.blob > .pd
{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(148, 138, 120, 0.34);
}

/* mobile formatting */
@media only screen and (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr;
    }
    .empty-blob {
        display: none;
    }
}