/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar-brand {
  display : flex;
  align-items : center;
}

img {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

#youtube {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.col-md-5, .col-md-4 {
  max-width:100%
}

.row {
  max-width: 100%;
}

.container {
  width: 1300px;
  max-width: 95%;
}